.weather-app-wrapper {
  max-width: 500px;
  margin: 10px auto;
  padding: 15px;
}
.weather-app {
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #74bbca;
  border-radius: 7px;
}

h1 {
  color: #524a79;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 5;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
